/* Global styles */
body {
	margin: 0;
	padding: 0;
	font-family: 'dosis', sans-serif;
	background-color: #ccbbad;
	color: #444;
	display: flex;
	flex-direction: column;
    width: -webkit-fill-available;
}

/* Header styles */
header {
	/* background image styles */
	background-color: #ccbbad;
	min-height: 60vh;
    width: 100%;
	background-image: url(../images/corn1.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: top ;
	display: flex;
	flex-direction:row;
	align-items: top;
	justify-content: space-evenly;
}
/* nav styling */
.desktop-nav {
	display: flex;
	align-items: top;
	justify-content: space-between;
	max-width: 40%;
	margin-top: 10vh;

}

.desktop-nav ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: fit-content;
}

.desktop-nav li {
	margin: 0 15px;
	padding: 0.8rem;
	border-radius: 5px;
}

.desktop-nav a {
	color:#FAF9F6;
	text-decoration: none;
	font-size: 1.3rem;
	text-transform: uppercase;
}

.desktop-nav a:hover {
	color: #d88e66;
}

/* Dropdown menu */


.p-menu1{
	height: 100%;
	min-width: 300px;
 }
 
 #navbar {
	width: 100%;
	flex-direction: column;
	margin-top: 10vh;

 }
 
 /* Hamburger */
 .hamburger1 {
   height: 45px;
   margin: 10px;
   display: -ms-grid;
   display: grid;
   grid-template-rows: repeat(3, 1fr);
   justify-items: center;
   z-index: 120;
 }
 
 .hamburger1 div {
   background-color: #FAF9F6;
   position: relative;
   width: 40px;
   height: 5px;
   margin-top: 7px;
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
 }
 
 #toggle1 {
   display: none;
 }
 
 #toggle1:checked + .hamburger1 .top {
   -webkit-transform: rotate(-45deg);
		   transform: rotate(-45deg);
   margin-top: 22.5px;
 }
 
 #toggle1:checked + .hamburger1 .meat {
   -webkit-transform: rotate(45deg);
		   transform: rotate(45deg);
   margin-top: -5px;
 }
 
 #toggle1:checked + .hamburger1 .bottom {
   -webkit-transform: scale(0);
		   transform: scale(0);
 }
 
 #toggle1:checked ~ .menu1 {
   height: 500px;
 }
 
 
 /* Menu */
 .menu1 {
   width: 100%;
   background-color: #8c996e;
   margin: 0;
   display: -ms-grid;
   display: grid;
   grid-template-rows: 1fr repeat(4, 0.5fr);
   grid-row-gap: 25px;
   padding: 0;
   list-style: none;
   clear: both;
   width: auto;
   text-align: center;
   height: 0px;
   overflow: hidden;
   transition: height .4s ease;
   z-index: 120;
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
 }
 
 .menu1 a:first-child {
   margin-top: 40px;
 }
 
 .menu1 a:last-child {
   margin-bottom: 40px;
 }
 
 .link1 {
   width: 100%;
   margin: 0;
   padding: 10px 0;
   color:#FAF9F6;
	text-decoration: none;
	font-size: 1.3rem;
	text-transform: uppercase;
 }
 
 .link1:hover {
   background-color: #FAF9F6;
   color: #8c996e;
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
 }



/* logo styling */ 

#logo_container {
	margin-top: 5vh;
}


/* button styling */ 

button {
	background-color:#8c996ed8;
	border: solid;
	border-color: #FAF9F6;
	border-radius: 5px;
	color:#FAF9F6;
	padding: 1rem 2rem;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	font-family: 'dosis', sans-serif;
	font-size: 1.3rem;
	transition-duration: 0.4s;
	margin-top: 10vh;
  }

  button:hover {
	background-color:#faf9f6af; 
	color:#8c996e;
  }

/* Main styles */
main {

	margin: 0 auto;
	padding: 0;
	display: flex;
	align-items: center;
    flex-direction: column;
}

.text {
    max-inline-size: 75%;
    text-align: left;
}

h1 {
    font-size: 2.5rem;
    padding-top: 5rem;
}

p {
    padding: 5rem 20rem;
    font-size: 1.1rem;
    letter-spacing: 2;
    line-height: 2.5;
	/* background-color: #edcda4; */
}

.image_cont {
    padding: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.image {
	max-width: 35%;
}

img {
	max-width: 100%;
}

/* footer styles */


footer {
	background-color: #8c996e;
	min-height: 10vh;
    bottom:0;
    width:100%;
}
.footer-nav {
	display: flex;
	flex-direction: row;
	max-width: 100%;
	justify-content: center;
	margin: 4vh;
}

.footer-nav ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: fit-content;
}

.footer-nav li {
	margin: 0 15px;
	padding: 0.8rem;
	border-radius: 5px;
}

.footer-a {
	color:#edcda4;
	text-decoration: none;
	font-size: 1rem;
}

.footer-a:hover {
	color:#d88e66;
}

.fa {
	background:none;
	color:#edcda4;
	text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
	color:#d88e66;
  }

  #fa-facebook {
	font-size: 1.5rem;
  }

  #fa-instagram {
	font-size: 1.5rem;
  }

  @media only screen and (max-width: 1390px) {
	.desktop-nav {
		display: none;
	}

	p {
		padding: 5rem 8rem;
	}

	.image_cont {
		flex-direction: column;
		align-items: center;
	}
	.image {
		max-width: 80%;
		padding: 1rem;
	}
  }

  @media only screen and (min-width: 1391px) {
	.p-menu1 {
		display: none;
	}
  }
