/* Global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'dosis', sans-serif;
	background-color: #ccbbad;
	color: #444;
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-x: hidden;
}

/* Header styles */
header {
	background-color: #ccbbad;
	min-height: 63vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top ;
	overflow-x: hidden;
}
#home-header{
	background-image: url(../images/tulip_02.png);
	min-height: 70vh;
}
#about-header {
    background-image: url(../images/tomatoes.png);
}
#dining-header{
    background-image: url(../images/fire1.jpg);
	background-position: center;
}
#reservations-header {
    background-image: url(../images/feast_02.png);
	background-position: center;
}
#contact-header {
    background-image: url(../images/mushrooms1.png);
	background-position: center;
}

/* nav styling */
.desktop-nav {
	height: 8vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 2vh;
	align-items: center;
	position: relative;
	z-index: 1;
}

.desktop-nav ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.desktop-nav li {
	margin: 0 15px;
	padding: 0.8rem;
	border-radius: 5px;
}

.desktop-nav a {
	color:#FAF9F6;
	text-decoration: none;
	font-size: 1.3rem;
	text-transform: uppercase;
}

.desktop-nav a:hover {
	color: #d88e66;
}

#voucher {
	border:solid 1px #FAF9F6;
	padding: 0.2rem 0.8rem;
	border-radius: 5px;
	width: 60%;
	margin: 0 3rem 2rem 3rem;
}

#voucher:hover {
	color: #d88e66;
	background-color: #FAF9F6;
}

/* burger */


.burger {
    display: none;
    cursor: pointer;
}

.burger > div {
    width: 25px;
    height: 2px;
    background-color: #FAF9F6;
    margin: 5px;
    transition: all 0.3s ease;
}


/* logo styling */ 


#logo {
	width: 120px;
	margin-left: 1rem;
	border-radius: 5px;
}
/* button styling */ 

button {
	background-color:#8c996ed8;
	border: solid;
	border-color: #edcda4;
	border-radius: 5px;
	color:#edcda4;
	padding: 1rem 2rem;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	font-family: 'dosis', sans-serif;
	font-size: 1.3rem;
	transition-duration: 0.4s;
  }

  button:hover {
	background-color:#FAF9F6; 
	border-color: #FAF9F6;
	color:#d88e66;
  }

/* Main styles */
/* general styles */
main {
	margin: 0 auto;
	padding: 0;
	display: flex;
	align-items: center;
    flex-direction: column;
	max-width: 100%;
}

.text {
    max-inline-size: 85%;
    text-align: left;
}

h1 {
    font-size: 2.5rem;
    padding-top: 5rem;
}

p {
    padding: 3rem 15rem;
    font-size: 1.1rem;
    letter-spacing: 2;
    line-height: 2.5;
	margin: 0;
}

p a {
	color:#444;
	text-decoration: none;
	cursor: pointer;
}


.image_cont {
    padding: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.image {
	max-width: 35%;
}

img {
	max-width: 100%;
}

/* home specific styles */

#home-main {
	margin: 1.5rem;
	min-height:30vh;
	justify-content: space-evenly;
}
#home-h1 {
	padding-top: 0;
	font-size: 3rem;
	letter-spacing: 3px;
}
h2 {
	margin-top: 0;
}
/* Dining specific styles */

.dining-logo {
	background-color: #faf9f65f;
}

.sample-menu {
	padding: 4rem 0rem;
	margin: 0rem 14rem;
	text-align: center;
	background-color: #edcda493;
	font-size: 1.1rem;
    line-height: 1.5;
}
.sample-link {
	display: none;
	margin-bottom: 4rem;
  }

  .sample-link a {
	color: #edcda4;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #8c996e;
    border: solid 1px #8c996e;
    padding: 1rem 3rem;
    border-radius: 5px;

  }
.sample-link a:hover {
	color: #d88e66;
	background-color: #FAF9F6;
	border-color: #FAF9F6;
  }


#dining-image-cont {
	flex-direction: column;
	align-items: center;
}
#dining-image {
    max-width: 75%;
	padding: 1rem;
}

/* reservation specific styles */

#reservations-text{
    width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 5rem;
}

.reservations-p {
    padding: 0;
    }
    
.reservation-container {
        width: 40%;
    }
    
.voucher-container {
        width:40%;
    }

iframe {
	width: 100%;
	height: 50vh;
	border-style: none;
	min-height: 450px;
}

/* contact specific styles */

.info {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#contact-h1 {
    text-align: center;
}

.contact-p {
    padding: 0rem 5rem;
}

.location {
	padding: 0 2rem;
}

.opening-hours {
	padding: 0 2rem;
}
/* footer styles */


footer {
	background-color: #8c996e;
	min-height: 10vh;
    bottom:0;
    width:100%;
}
.footer-nav {
	display: flex;
	flex-direction: row;
	max-width: 100%;
	justify-content: center;
	margin: 4vh;
}

.footer-nav ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: fit-content;
}

.footer-nav li {
	margin: 0 15px;
	padding: 0.8rem;
	border-radius: 5px;
}

.footer-a {
	color:#edcda4;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.3rem;
}

.footer-a:hover {
	color:#d88e66;
}

.fa {
	background:none;
	color:#edcda4;
	text-decoration: none;
  }

  .fa:hover {
	color:#d88e66;
  }

  #fa-facebook {
	font-size: 1.5rem;
  }

  #fa-instagram {
	font-size: 1.5rem;
  }

  /* general media queries */

  @media screen and (max-width: 1060px) {

	body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 53vh;
        top: 10vh;
        background-color: #8c996e;
        display: flex;
        flex-direction: column;
        align-items: center;
		justify-content: space-evenly;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
		z-index: 2;

    }
    .nav-links li{
        opacity: 0;
    }
    .burger {
        display: block;
		z-index: 3;
    }

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFadeIn{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes navLinkFadeOut{
    from{
        opacity: 1;
        transform: translateX(0px);
    }
    to{
        opacity: 0;
        transform: translateX(50px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(+45deg) translate(-5px, -5px);
}

header {
	justify-content: space-between;
}

.burger {
	padding-right: 2rem;
}
.image_cont {
	flex-direction: column;
	align-items: center;
	padding: 0;
}
.image {
	max-width: 80%;
	padding: 1rem;
}

.f-li {
	display: none;
}

.button-div {
	margin: 0 0.8rem;
}
}

@media only screen and (max-width: 786px) {

	.nav-links{
		height: 48vh;
		top: 10vh;
		width: 100%;
	}
	#logo {
		width: 80px;
}
	p {
		font-size: 1rem;
	}

	button {
		font-size: 1rem;
	}
  }


  /* HOME specific queries */
  @media only screen and (max-width: 1060px) {
	#home-nav-li {
		height: 58vh;
	}
  }

  @media only screen and (max-width: 786px) {

	#home-nav-li {
		height: 48vh;
	}

	#home-h1 {
		font-size: 2rem;
	}


	#home-header {
		min-height: 60vh;
	}
  }  


  /* ABOUT & DINING specific queries */

  @media only screen and (max-width: 1390px) {

	.adp {
		padding: 5rem 8rem;
	}
	.sample-menu{
		margin: 0rem 8rem;
	}
  }

  @media only screen and (max-width: 1060px) {

	.adp {
		padding: 3rem 5rem;
	}    
    #ad-text {
        max-inline-size: 85%;
    }
	#dining-image {
		max-width: 80%;
	}
  }

  @media only screen and (max-width: 786px) {

	#ad-text {
		max-inline-size: 90%;
	}
	.adp {
		padding: 3rem 1rem;
	}
	.sample-menu {
		display: none;
	}
	.sample-link {
		display: block;
	}
	#about-header {
		min-height: 60vh;
	}
	#dining-header {
		min-height: 60vh;
	}
  }

  /* RESERVATIONS specific queries */

  @media only screen and (max-width: 786px) {

	#reservations-text {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.reservation-container {
		width: 100%;
	}

	.voucher-container {
		width: 100%;
	}

	#voucher-widget {
		margin-top: 1rem;
	}

	#reservations-header {
		min-height: 60vh;
	}
  }

  /* CONTACT specific queries */

  
  @media only screen and (max-width: 1060px) {

	.info {
		flex-direction: column;
	}
  }

  @media only screen and (max-width: 786px) {
	#contact-header {
		min-height: 60vh;
	}
	.contact-p {
		padding: 0 2rem;
	}

	.location {
		padding: 1rem 2rem;
	}
	.opening-hours {
		padding: 1rem 2rem;
	}
  }


